.personal-layout {
    height: 100%;
    padding-bottom: 48px;
}
.personal-message{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.personal-list {
    padding: 20px;
}